.animation1 {
    animation: mask-play1 0.7s steps(6000);
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
  
  .animation1-reverse {
    animation: mask-play1-reverse 0.7s steps(6000);
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
  
  .animation2 {
    animation: mask-play2 0.7s steps(6000);
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
  
  .animation2-reverse {
    animation: mask-play2-reverse 0.7s steps(6000);
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
  
  .animation3 {
    animation: mask-play3 0.7s steps(6000);
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
  
  .animation3-reverse {
    animation: mask-play3-reverse 0.7s steps(6000);
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }






























































































































































