@font-face {
  font-family: menlo;
  src: url(../../content/fonts/Menlo-Regular.woff);
}
:root {
  --opacity: 100%;
  --opacity4others: 100%;
  --visibility: visible;
  
  --height1: 10vh;
  --height2: 20vh;
  --height3: 70vh;
}

h1 {
  color: beige;
  font-family: menlo;
  font-size: 2vmin;
  text-align: right;
  margin-right: 1vw;
  margin-top: 1vw;
  position: sticky;
}

p {
  font-family: menlo;
  position: absolute;
  right: -1vmin;
  bottom: 0vmin;
  font-size: 2.5vmin;
  visibility: inherit;
}

#main {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  background-image: url(../../content/background/photo1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.background {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  overflow: hidden;
}

.shop {
  cursor: url("../../content/cursors/shop.svg"), default;
}

.close {
  cursor: url("../../content/cursors/close.svg"), n-resize;
}

.close_temp {
  cursor: url("../../content/cursors/close_temp.svg"), n-resize;
}

.open {
  cursor: url("../../content/cursors/open.svg"), default;
}

#hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* cursor: url('../content/cursors/shop.svg'),default; */
  width: 100%;
  height: 100%;
}

/** Masking. */
#mask-svg1 {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-mask-image: url(../../content/shapes/shape1.svg);
  -webkit-mask-position: 12vw var(--height1);
  -webkit-mask-size: 20vh;
  -webkit-mask-repeat: no-repeat;
  mask-image: url(../../content/shapes/shape1.svg);
  mask-position: 12vw var(--height1);
  mask-size: 20vh;
  mask-repeat: no-repeat;
}

#mask-svg2 {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  z-index: auto;
  -webkit-mask-image: url(../../content/shapes/shape2.svg);
  -webkit-mask-position: 42vw var(--height2);
  -webkit-mask-size: 20vh;
  -webkit-mask-repeat: no-repeat;
  mask-image: url(../../content/shapes/shape2.svg);
  mask-position: 42vw var(--height2);
  mask-size: 20vh;
  mask-repeat: no-repeat;
}

#mask-svg3 {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-mask-image: url(../../content/shapes/shape3.svg);
  -webkit-mask-position: 72vw var(--height3);
  -webkit-mask-size: 20vh;
  -webkit-mask-repeat: no-repeat;
  mask-image: url(../../content/shapes/shape3.svg);
  mask-position: 72vw var(--height3);
  mask-size: 20vh;
  mask-repeat: no-repeat;
}

#hover-mask-svg1 {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: inherit;
}






#hover-mask-svg2 {
  width: 100%;
height: 100%;
opacity: 0;
visibility: inherit;

}






#hover-mask-svg3 {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: inherit;
}






#container1 {
  position: absolute;
  left: 12vw;
  top: var(--height1);
  opacity: var(--opacity);
  width: 20vh;
  visibility: var(--visibility);
}

#container2 {
  position: absolute;
  left: 42vw;
  top: var(--height2);
  opacity: var(--opacity);
  width: 20vh;
  visibility: var(--visibility);
}

#container3 {
  position: absolute;
  left: 72vw;
  top: var(--height3);
  opacity: var(--opacity);
  width: 20vh;
  visibility: var(--visibility);
}

#inner-container1 {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: inherit;
}

#inner-container1:hover {
  opacity: 100%;
  visibility: inherit;
}

#inner-container2 {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: inherit;
}

#inner-container2:hover {
  opacity: 100%;
  visibility: inherit;
}

#inner-container3 {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: inherit;
}

#inner-container3:hover {
  opacity: 100%;
  visibility: inherit;
}

#slider {
  visibility: hidden;

}

#close_button{
  visibility: hidden;
}








@-webkit-keyframes mask-play1 {
  from {
    -webkit-mask-size: 20vh;
    mask-size: 20vh;
    -webkit-mask-position: 12vw var(--height1);
    mask-position: 12vw var(--height1);
  }
  to {
    -webkit-mask-position: -250vmin -250vmin;
    mask-position: -250vmin -250vmin;

    -webkit-mask-size: 900vmin;
    mask-size: 900vmin;
  }
}
@keyframes mask-play1 {
  0% {
    -webkit-mask-size: 20vh;
    mask-size: 20vh;
    -webkit-mask-position: 12vw var(--height1);
    mask-position: 12vw var(--height1);
  }
  100% {
    mask-size: 900vmin;
    -webkit-mask-size: 900vmin;
    -webkit-mask-position: -250vmin -250vmin;
    mask-position: -250vmin -250vmin;
  }
}

@keyframes mask-play1-reverse {
  0% {
    -webkit-mask-size: 900vmin;
    mask-size: 900vmin;
    -webkit-mask-position: -250vmin -250vmin;
    mask-position: -250vmin -250vmin;
  }
  100% {
    mask-size: 20vh;
    -webkit-mask-size: 20vh;
    -webkit-mask-position: 12vw var(--height1);
    mask-position: 12vw var(--height1);
  }
}

@-webkit-keyframes mask-play1-reverse {
  0% {
    -webkit-mask-size: 900vmin;
    mask-size: 900vmin;
    -webkit-mask-position: -250vmin -250vmin;
    mask-position: -250vmin -250vmin;
  }
  100% {
    mask-size: 20vh;
    -webkit-mask-size: 20vh;
    -webkit-mask-position: 12vw var(--height1);
    mask-position: 12vw var(--height1);
  }
}

@-webkit-keyframes mask-play2 {
  from {
    -webkit-mask-size: 20vh;
    mask-size: 20vh;
    -webkit-mask-position: 42vw var(--height2);
    mask-position: 42vw var(--height2);
  }
  to {
    -webkit-mask-position: -250vmin -250vmin;
    mask-position: -250vmin -250vmin;

    -webkit-mask-size: 900vmin;
    mask-size: 900vmin;
  }
}
@keyframes mask-play2 {
  0% {
    -webkit-mask-size: 20vh;
    mask-size: 20vh;
    -webkit-mask-position: 42vw var(--height2);
    mask-position: 42vw var(--height2);
  }
  100% {
    mask-size: 900vmin;
    -webkit-mask-size: 900vmin;
    -webkit-mask-position: -250vmin -250vmin;
    mask-position: -250vmin -250vmin;
  }
}

@keyframes mask-play2-reverse {
  0% {
    -webkit-mask-size: 900vmin;
    mask-size: 900vmin;
    -webkit-mask-position: -250vmin -250vmin;
    mask-position: -250vmin -250vmin;
  }
  100% {
    mask-size: 20vh;
    -webkit-mask-size: 20vh;
    -webkit-mask-position: 42vw var(--height2);
    mask-position: 42vw var(--height2);
  }
}

@-webkit-keyframes mask-play2-reverse {
  0% {
    -webkit-mask-size: 900vmin;
    mask-size: 900vmin;
    -webkit-mask-position: -250vmin -250vmin;
    mask-position: -250vmin -250vmin;
  }
  100% {
    mask-size: 20vh;
    -webkit-mask-size: 20vh;
    -webkit-mask-position: 42vw var(--height2);
    mask-position: 42vw var(--height2);
  }
}

@-webkit-keyframes mask-play3 {
  from {
    -webkit-mask-size: 20vh;
    mask-size: 20vh;
    -webkit-mask-position: 72vw var(--height3);
    mask-position: 72vw var(--height3);
  }
  to {
    -webkit-mask-position: -250vmin -250vmin;
    mask-position: -250vmin -250vmin;

    -webkit-mask-size: 900vmin;
    mask-size: 900vmin;
  }
}
@keyframes mask-play3 {
  0% {
    -webkit-mask-size: 20vh;
    mask-size: 20vh;
    -webkit-mask-position: 72vw var(--height3);
    mask-position: 72vw var(--height3);
  }
  100% {
    mask-size: 900vmin;
    -webkit-mask-size: 900vmin;
    -webkit-mask-position: -250vmin -250vmin;
    mask-position: -250vmin -250vmin;
  }
}

@keyframes mask-play3-reverse {
  0% {
    -webkit-mask-size: 900vmin;
    mask-size: 900vmin;
    -webkit-mask-position: -250vmin -250vmin;
    mask-position: -250vmin -250vmin;
  }
  100% {
    mask-size: 20vh;
    -webkit-mask-size: 20vh;
    -webkit-mask-position: 72vw var(--height3);
    mask-position: 72vw var(--height3);
  }
}

@-webkit-keyframes mask-play3-reverse {
  0% {
    -webkit-mask-size: 900vmin;
    mask-size: 900vmin;
    -webkit-mask-position: -250vmin -250vmin;
    mask-position: -250vmin -250vmin;
  }
  100% {
    mask-size: 20vh;
    -webkit-mask-size: 20vh;
    -webkit-mask-position: 72vw var(--height3);
    mask-position: 72vw var(--height3);
  }
}

@media screen and (max-width: 1000px) {
  #close_button{
  position: absolute;
  width: 7vh;
  bottom: 5vh;
  left: 43vw;
  visibility: hidden;
  z-index: 3;


  }

  #slider {
    display: inherit;
    visibility: var(--visibility);
    margin: 0vh auto;
    left: 10vw;
    bottom: 5vh;
    width: 80vw;
    height: 8vh;
    position: absolute;
    border-radius: 100px;
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    border: 2px solid #000;
    filter: drop-shadow(8px 8px 0 #000);
    overflow: visible;
  }



  #slider_bg {
    display: inherit;
    visibility: inherit;
    position: absolute;
    left: 60px;
    top: 0;

    height: 100%;
    background-color: white;
    z-index: 1;
  }

  #caddie {
    display: inherit;
    visibility: inherit;
    width: 7vh;
    position: absolute;
    left: 1vw;
    top: 0.5vh;
  }

  #label {
    display: inherit;
    visibility: inherit;
    margin: 0 auto;
    width: 46px;
    position: absolute;
    height: 38px;
    z-index: 3;
    cursor: move;
    font-size: 16px;
    font-weight: 900;
  }

  #labelTip {
    position: relative;
    visibility: inherit;
    top:0;
    margin-top: 3.25vh;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.5vh;
    font-family: menlo;
    color: grey;

    z-index: 0;
  }

  :root {
    --opacity: 100%;
    --opacity4others: 100%;
    --visibility: visible;
    --width1: 10vh;
    --width2: 20vh;
    --width3: 70vh;
  }

  #main {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

    background-image: url(../../content/background/photo2.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  h1 {
    color: beige;
    font-family: menlo;
    font-size: 2vmin;
    text-align: center;

    margin-top: 1vw;
    position: sticky;
  }

  p {

    font-family: menlo;
    position: absolute;
 
    right:3vw;
    bottom: 2vh;
    font-size: 2.5vmin;
    visibility: inherit;
  }

  #mask-svg1 {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-mask-image: url(../../content/shapes/shape1.svg);
    -webkit-mask-position: var(--width1) 10vh;
    -webkit-mask-size: 20vh;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../../content/shapes/shape1.svg);
    mask-position: var(--width1) 10vh;
    mask-size: 20vh;
    mask-repeat: no-repeat;
  }

  #mask-svg2 {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-mask-image: url(../../content/shapes/shape2.svg);
    -webkit-mask-position: var(--width2) 35vh;
    -webkit-mask-size: 20vh;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../../content/shapes/shape2.svg);
    mask-position: var(--width2) 35vh;
    mask-size: 20vh;
    mask-repeat: no-repeat;
  }

  #mask-svg3 {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-mask-image: url(../../content/shapes/shape3.svg);
    -webkit-mask-position: var(--width3) 60vh;
    -webkit-mask-size: 20vh;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../../content/shapes/shape3.svg);
    mask-position: var(--width3) 60vh;
    mask-size: 20vh;
    mask-repeat: no-repeat;
  }

  #container1 {
    position: absolute;
    left: var(--width1);
    top: 10vh;
    opacity: 1;
    width: 20vh;
    visibility: var(--visibility);
  }

  #container2 {
    position: absolute;
    left: var(--width2);
    top: 35vh;
    opacity: 1;
    width: 20vh;
    visibility: var(--visibility);
  }

  #container3 {
    position: absolute;
    left: var(--width3);
    top: 60vh;
    opacity: 1;
    width: 20vh;
    visibility: var(--visibility);
  }

  #inner-container1 {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 100%;
    visibility: inherit;
  }

  #inner-container2 {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 100%;
    visibility: inherit;
  }

  #inner-container3 {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 100%;
    visibility: inherit;
  }

  @-webkit-keyframes mask-play1 {
    from {
      -webkit-mask-size: 20vh;
      mask-size: 20vh;
      -webkit-mask-position: var(--width1) 10vh;
      mask-position: var(--width1) 10vh;
    }
    to {
      -webkit-mask-position: -250vmin -250vmin;
      mask-position: -250vmin -250vmin;

      -webkit-mask-size: 900vmin;
      mask-size: 900vmin;
    }
  }
  @keyframes mask-play1 {
    0% {
      -webkit-mask-size: 20vh;
      mask-size: 20vh;
      -webkit-mask-position: var(--width1) 10vh;
      mask-position: var(--width1) 10vh;
    }
    100% {
      mask-size: 900vmin;
      -webkit-mask-size: 900vmin;
      -webkit-mask-position: -250vmin -250vmin;
      mask-position: -250vmin -250vmin;
    }
  }

  @keyframes mask-play1-reverse {
    0% {
      -webkit-mask-size: 900vmin;
      mask-size: 900vmin;
      -webkit-mask-position: -250vmin -250vmin;
      mask-position: -250vmin -250vmin;
    }
    100% {
      mask-size: 20vh;
      -webkit-mask-size: 20vh;
      -webkit-mask-position: var(--width1) 10vh;
      mask-position: var(--width1) 10vh;
    }
  }

  @-webkit-keyframes mask-play1-reverse {
    0% {
      -webkit-mask-size: 900vmin;
      mask-size: 900vmin;
      -webkit-mask-position: -250vmin -250vmin;
      mask-position: -250vmin -250vmin;
    }
    100% {
      mask-size: 20vh;
      -webkit-mask-size: 20vh;
      -webkit-mask-position: var(--width1) 10vh;
      mask-position: var(--width1) 10vh;
    }
  }

  @-webkit-keyframes mask-play2 {
    from {
      -webkit-mask-size: 20vh;
      mask-size: 20vh;
      -webkit-mask-position: var(--width2) 35vh;
      mask-position: var(--width2) 35vh;
    }
    to {
      -webkit-mask-position: -250vmin -250vmin;
      mask-position: -250vmin -250vmin;

      -webkit-mask-size: 900vmin;
      mask-size: 900vmin;
    }
  }
  @keyframes mask-play2 {
    0% {
      -webkit-mask-size: 20vh;
      mask-size: 20vh;
      -webkit-mask-position: var(--width2) 35vh;
      mask-position: var(--width2) 35vh;
    }
    100% {
      mask-size: 900vmin;
      -webkit-mask-size: 900vmin;
      -webkit-mask-position: -250vmin -250vmin;
      mask-position: -250vmin -250vmin;
    }
  }

  @keyframes mask-play2-reverse {
    0% {
      -webkit-mask-size: 900vmin;
      mask-size: 900vmin;
      -webkit-mask-position: -250vmin -250vmin;
      mask-position: -250vmin -250vmin;
    }
    100% {
      mask-size: 20vh;
      -webkit-mask-size: 20vh;
      -webkit-mask-position: var(--width2) 35vh;
      mask-position: var(--width2) 35vh;
    }
  }

  @-webkit-keyframes mask-play2-reverse {
    0% {
      -webkit-mask-size: 900vmin;
      mask-size: 900vmin;
      -webkit-mask-position: -250vmin -250vmin;
      mask-position: -250vmin -250vmin;
    }
    100% {
      mask-size: 20vh;
      -webkit-mask-size: 20vh;
      -webkit-mask-position: var(--width2) 35vh;
      mask-position: var(--width2) 35vh;
    }
  }

  @-webkit-keyframes mask-play3 {
    from {
      -webkit-mask-size: 20vh;
      mask-size: 20vh;
      -webkit-mask-position: var(--width3) 60vh;
      mask-position: var(--width3) 60vh;
    }
    to {
      -webkit-mask-position: -250vmin -250vmin;
      mask-position: -250vmin -250vmin;

      -webkit-mask-size: 900vmin;
      mask-size: 900vmin;
    }
  }
  @keyframes mask-play3 {
    0% {
      -webkit-mask-size: 20vh;
      mask-size: 20vh;
      -webkit-mask-position: var(--width3) 60vh;
      mask-position: var(--width3) 60vh;
    }
    100% {
      mask-size: 900vmin;
      -webkit-mask-size: 900vmin;
      -webkit-mask-position: -250vmin -250vmin;
      mask-position: -250vmin -250vmin;
    }
  }

  @keyframes mask-play3-reverse {
    0% {
      -webkit-mask-size: 900vmin;
      mask-size: 900vmin;
      -webkit-mask-position: -250vmin -250vmin;
      mask-position: -250vmin -250vmin;
    }
    100% {
      mask-size: 20vh;
      -webkit-mask-size: 20vh;
      -webkit-mask-position: var(--width3) 60vh;
      mask-position: var(--width3) 60vh;
    }
  }

  @-webkit-keyframes mask-play3-reverse {
    0% {
      -webkit-mask-size: 900vmin;
      mask-size: 900vmin;
      -webkit-mask-position: -250vmin -250vmin;
      mask-position: -250vmin -250vmin;
    }
    100% {
      mask-size: 20vh;
      -webkit-mask-size: 20vh;
      -webkit-mask-position: var(--width3) 60vh;
      mask-position: var(--width3) 60vh;
    }
  }
}

@media (hover: none) and (pointer: coarse) {
  #inner-container1 {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 100%;
    visibility: inherit;
  }

  #inner-container2 {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 100%;
    visibility: inherit;
  }

  #inner-container3 {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 100%;
    visibility: inherit;
  }
  #slider {
    display: inherit;
    visibility: var(--visibility);
    margin: 0vh auto;
    left: 10vw;
    bottom: 5vh;
    width: 80vw;
    height: 8vh;
    position: absolute;
    border-radius: 100px;
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    border: 2px solid #000;
    filter: drop-shadow(8px 8px 0 #000);
    overflow: visible;
  }
  #slider_bg {
    display: inherit;
    visibility: inherit;
    position: absolute;
    left: 60px;
    top: 0;
    height: 100%;
    background-color: white;
    z-index: 1;
  }
  #caddie {
    display: inherit;
    visibility: inherit;
    width: 7vh;
    position: absolute;
    left: 1vw;
    top: 0.5vh;
  }
  #label {
    display: inherit;
    visibility: inherit;
    margin: 0 auto;
    width: 46px;
    position: absolute;
    height: 38px;
    z-index: 3;
    cursor: move;
    font-size: 16px;
    font-weight: 900;
  }
  #labelTip {
    position: relative;
    visibility: inherit;
    top:0;
    margin-top: 3.25vh;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.5vh;
    font-family: menlo;
    color: grey;
    z-index: 0;
  }





}
