@font-face {
  font-family: menlo;
  src: url(../content/fonts/Menlo-Regular.woff);
}

:root {
  --opacity: 100%;
  --opacity4others: 100%;
  --visibility: visible;
}

h1 {
  color: beige;
  font-family: menlo;
  font-size: 2vmin;
  text-align: right; 
  position: sticky;
}







.background {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  overflow: hidden;
}

.shop {
  cursor: url("../content/cursors/shop.svg"), default;
}

.close {
  cursor: url("../content/cursors/close.svg"), n-resize;
}

.open {
  cursor: url("../content/cursors/open.svg"), default;
}

#hover1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* cursor: url('../content/cursors/shop.svg'),default; */

  width: 100%;
  height: 300%;


}


/** Masking. */
#mask-svg1 {
  visibility: visible;

  position: absolute;
  top: 0;
  left: 0;

  -webkit-mask-image: url(../content/shapes/shape1.svg);
  -webkit-mask-position: 60vw 20vh;
  -webkit-mask-size: 40vmin;
  -webkit-mask-repeat: no-repeat;

  mask-image: url(../content/shapes/shape1.svg);
  mask-position: 60vw 20vh;
  mask-size: 40vmin;
  mask-repeat: no-repeat;

 
}

#mask-svg2 {
  visibility: visible;

  position: absolute;
  top: 0;
  left: 0;
  z-index: auto;

  -webkit-mask-image: url(../content/shapes/shape2.svg);
  -webkit-mask-position: 20vw 50vh;
  -webkit-mask-size: 40vmin;
  -webkit-mask-repeat: no-repeat;

  mask-image: url(../content/shapes/shape2.svg);
  mask-position: 20vw 50vh;
  mask-size: 40vmin;
  mask-repeat: no-repeat;

  
}

.animation1 {
  animation: mask-play1 0.5s steps(6000);
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.animation1-reverse {
  animation: mask-play1-reverse 0.5s steps(6000);
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.animation2 {
  animation: mask-play2 0.5s steps(6000);
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.animation2-reverse {
  animation: mask-play2-reverse 0.5s steps(6000);
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

#hover-mask-svg1 {
  width: 100%;
  height: 100%;

  opacity: 0;

  visibility: inherit;
}

#hover-mask-svg1:hover {
  opacity: 0.3;
  visibility: inherit;
}

#hover-mask-svg2 {
  width: 100%;
  height: 100%;

  z-index: auto;
  opacity: var(--opacity) ;

  visibility: inherit;
}

#hover-mask-svg2:hover {
  opacity: 0.3;
  visibility: inherit;

}

p1 {
  font-family: menlo;
  position: absolute;
  right: 3vmin;
  bottom: 2vmin;
  font-size: 3vmin;

  visibility: inherit ;
}

p2 {
  font-family: menlo;
  position: absolute;
  right: 3vmin;
  bottom: 2vmin;
  font-size: 3vmin;

  visibility: inherit;
}

#container1 {
  position: absolute;
  left: 60vw;
  top: 20vh;

  opacity: var(--opacity);
  width: 40vmin;

  visibility: var(--visibility);
}
#container2 {
  position: absolute;
  left: 20vw;
  top: 50vh;

  opacity: var(--opacity);
  width: 40vmin;

  visibility: var(--visibility);
}



#inner-container1 {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;

  visibility: inherit;
}

#inner-container1:hover {
  opacity: 100%;

  visibility: inherit;
}

#inner-container2 {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;

visibility: inherit;
}

#inner-container2:hover {
  opacity: 100%;
  visibility: inherit;
}


























@-webkit-keyframes mask-play1 {
  from {
    -webkit-mask-size: 40vmin;
    mask-size: 40vmin;
    -webkit-mask-position: 60vw 20vh;
    mask-position: 60vw 20vh;
  }
  to {
    -webkit-mask-position: -250vmin -250vmin;
    mask-position: -250vmin -250vmin;

    -webkit-mask-size: 900vmin;
    mask-size: 900vmin;
  }
}
@keyframes mask-play1 {
  0% {
    -webkit-mask-size: 40vmin;
    mask-size: 40vmin;
    -webkit-mask-position: 60vw 20vh;
    mask-position: 60vw 20vh;
  }
  100% {
    mask-size: 900 vmin;
    -webkit-mask-size: 900vmin;
    -webkit-mask-position: -250vmin -250vmin;
    mask-position: -250vmin -250vmin;
  }
}

@keyframes mask-play1-reverse {
  0% {
    -webkit-mask-size: 900vmin;
    mask-size: 900vmin;
    -webkit-mask-position: -250vmin -250vmin;
    mask-position: -250vmin -250vmin;
  }
  100% {
    mask-size: 40 vmin;
    -webkit-mask-size: 40vmin;
    -webkit-mask-position: 60vw 20vh;
    mask-position: 60vw 20vh;
  }
}

@-webkit-keyframes mask-play1-reverse {
  0% {
    -webkit-mask-size: 900vmin;
    mask-size: 900vmin;
    -webkit-mask-position: -250vmin -250vmin;
    mask-position: -250vmin -250vmin;
  }
  100% {
    mask-size: 40 vmin;
    -webkit-mask-size: 40vmin;
    -webkit-mask-position: 60vw 20vh;
    mask-position: 60vw 20vh;
  }
}


@-webkit-keyframes mask-play2 {
  from {
    -webkit-mask-size: 40vmin;
    mask-size: 40vmin;
    -webkit-mask-position: 60vw 20vh;
    mask-position: 60vw 20vh;
  }
  to {
    -webkit-mask-position: -250vmin -250vmin;
    mask-position: -250vmin -250vmin;

    -webkit-mask-size: 900vmin;
    mask-size: 900vmin;
  }
}
@keyframes mask-play2 {
  0% {
    -webkit-mask-size: 40vmin;
    mask-size: 40vmin;
    -webkit-mask-position: 20vw 50vh;
    mask-position: 20vw 50vh;
  }
  100% {
    mask-size: 900 vmin;
    -webkit-mask-size: 900vmin;
    -webkit-mask-position: -250vmin -250vmin;
    mask-position: -250vmin -250vmin;
  }
}

@keyframes mask-play2-reverse {
  0% {
    -webkit-mask-size: 900vmin;
    mask-size: 900vmin;
    -webkit-mask-position: -250vmin -250vmin;
    mask-position: -250vmin -250vmin;
  }
  100% {
    mask-size: 40 vmin;
    -webkit-mask-size: 40vmin;
    -webkit-mask-position: 20vw 50vh;
    mask-position: 20vw 50vh;
  }
}

@-webkit-keyframes mask-play2-reverse {
  0% {
    -webkit-mask-size: 900vmin;
    mask-size: 900vmin;
    -webkit-mask-position: -250vmin -250vmin;
    mask-position: -250vmin -250vmin;
  }
  100% {
    mask-size: 40 vmin;
    -webkit-mask-size: 40vmin;
    -webkit-mask-position: 20vw 50vh;
    mask-position: 20vw 50vh;
  }
}
