@font-face {
font-family: menlo;
src: url(../content/fonts/Menlo-Regular.woff);
}

h1{

font-family: menlo;
font-size: 2vmin;


text-align: right;
position: sticky;
}

#trans{
  opacity: 0.2;
}

.background{
position: absolute;

width: 100%;
height: auto;
top: 0;
left: 0;

}

.hover1{
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;

width: 100%;
height: 100%;
}

/** Masking. */
#mask-svg1 {
position: absolute;
top: 0;
left: 0;

-webkit-mask-image: url(../content/shapes/shape1.svg);
-webkit-mask-position: 60vw 20vh;
-webkit-mask-size: 40vmin;
-webkit-mask-repeat: no-repeat;

mask-image: url(../content/shapes/shape1.svg);
mask-position: 60vw 20vh;
mask-size: 40vmin;
mask-repeat: no-repeat;


/*  animation: grow 2s steps(200) forwards; */
} 

.animation1{
animation: mask-play 0.7s steps(200); 
animation-fill-mode: forwards;
-webkit-animation-fill-mode: forwards;


}

#hover-mask-svg1{
width: 100%;
height: 100%;


opacity: 0;



}

#hover-mask-svg1:hover{
opacity: 0.3;
filter: brightness(900%);
}

p{
font-family: menlo;
position:absolute;
right: 3vmin;
bottom: 2vmin;
font-size: 3vmin;
}

.container1{

position: absolute;
left: 60vw;
top: 20vh;

width: 40vmin;

}




.inner-container1{

position: relative;
width: 100%;
height: 100%;
opacity: 0;
}

.inner-container1:hover{
opacity: 100%;
}

@-webkit-keyframes mask-play {
from {

-webkit-mask-size: 40vmin;
mask-size: 40vmin;
}
to {


-webkit-mask-size: 100vmin;
mask-size: 100vmin;


}
}
@keyframes mask-play {
0% {
-webkit-mask-size: 40vmin;
mask-size: 40vmin;
}
100% {

ask-size: 100 vmin;
-webkit-mask-size: 100vmin;

}
}





@-webkit-keyframes grow {
0% {
-webkit-transform: scale( 0.3 );transform: scale( 0.3 );
}



100% {
-webkit-transform: scale( 2 );transform: scale( 2);
}
}

@keyframes grow {
0% {
transform: scale( 0.3 );
}100% {
transform: scale( 2 );
}
}
























.shrinkgrow {
animation: mask_svg_shrinkgrow_keys 5s linear 0s infinite normal forwards;
}

@keyframes mask_svg_shrinkgrow_keys {
0% {
-webkit-mask-position: 30px 0px;
-webkit-mask-size: 30% 30%;
mask-position: 30px 0px;
mask-size: 30% 30%;
animation-timing-function: ease-in-out;
}

100% {
-webkit-mask-position: 30px 0px;
-webkit-mask-size: 100% 100%;
mask-position: 30px 0px;
mask-size: 100% 100%;
animation-timing-function: ease-in-out;
}
} 

