
.porque{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
}

  /** Masking. */
  #mask-svg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 100%;

    -webkit-mask-image: url(../content/Shape1.svg);
    -webkit-mask-position: 600px 200px;
    -webkit-mask-size: 300px;
    -webkit-mask-repeat: no-repeat;

    mask-image: url(../content/Shape1.svg);
    mask-position: 600px 200px;
    mask-size: 300px;
    mask-repeat: no-repeat;

  /* animation: mask-play 0.7s steps(200) forwards; */
   /*  animation: grow 2s steps(200) forwards; */
  }

#hover-mask-svg{
    position: absolute;
    left: 600px;
    top: 200px;

    width: 300px;
}

#hover-mask-svg:hover{
    opacity: 0.2;
    filter: brightness(900%);
}


@-webkit-keyframes mask-play {
    from {

      -webkit-mask-size: 20%;
      mask-size: 20%;
    }
    to {

      -webkit-mask-mask-size: 200% 200%;
      mask-size: 200% 200%;
    }
  }
  
  @keyframes mask-play {
    from {
        -webkit-mask-size: 20%;
        mask-size: 20%;
    }
    to {
        -webkit-mask-size: 320%;
        mask-size: 320%;
  }
}





@-webkit-keyframes grow {
    0% {
   -webkit-transform: scale( 0.3 );transform: scale( 0.3 );
     }
     
 
     
     100% {
     -webkit-transform: scale( 2 );transform: scale( 2);
     }
   }

   @keyframes grow {
    0% {
   transform: scale( 0.3 );
     }
     

     
     100% {
transform: scale( 2 );
     }
   }
























  .shrinkgrow {
    animation: mask_svg_shrinkgrow_keys 5s linear 0s infinite normal forwards;
  }
  
  @keyframes mask_svg_shrinkgrow_keys {
    0% {
      -webkit-mask-position: 30px 0px;
      -webkit-mask-size: 30% 30%;
      mask-position: 30px 0px;
      mask-size: 30% 30%;
      animation-timing-function: ease-in-out;
    }

    100% {
      -webkit-mask-position: 30px 0px;
      -webkit-mask-size: 100% 100%;
      mask-position: 30px 0px;
      mask-size: 100% 100%;
      animation-timing-function: ease-in-out;
    }
  } 
  
 